@import url("react-toastify/dist/ReactToastify.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #111;
  color: #bbb;
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: #bbb;
} */

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition: 1s all ease;
}
